// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  margin-left: 300px;
  margin-right: 100px;
  padding: 90px;
}

.form-control {
  width: 500px;
}

.table {
  width: 700px;
}

.btn {
  margin-right: 300px;
  margin-left: -200px;
}